
.openlmis-header .header-logo {
  background: url('../assets/branding-lesotho/400X500.png') no-repeat center center;
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 32px;
  overflow: hidden;
}

.header > .openlmis-header > .title,
.header > .openlmis-header.is-offline > .title {
	background: url('../assets/branding-lesotho/logo-header.png') no-repeat top left;
	background-size: auto;
	text-indent: 0;
	overflow: visible;
	padding: 0;
	padding-left: 2px + $space-size/2;
}

.header > .openlmis-header.is-offline > .title {
	color: $white;
}

.auth-modal .modal-body {
	background-image: url('../assets/branding-lesotho/logo.png') !important;
	background-size: auto !important;
	background-position: $space-size*2 $space-size !important;
	min-height: 258px + $space-size !important;
}

