$image-height: 136px;

.home-page{
  @extend .page-hero;
  padding-bottom: 4em;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  align-items: flex-start;
  &::after{
    content:"";
    width: 100%;
    height: $image-height;
    position: absolute;
    bottom: 0.5em;
    @include left(0em);
    background: url('../assets/openlmis-home/home-background.png') no-repeat right bottom;
    @media screen and (max-width: $res-sm) {
      height: 100%;
      background-size: 1200%
    }
  }
  .system-notification-list {
    width: 35%;
  }
  .system-notification-list > h2{
    @media screen and (max-width: $res-sm) {
      font-size:16px;
    }
  }

  .welcome-image {
      padding-left: 30px;
  }
  .the-image {
    background: url('../assets/openlmis-home/WelcomeScreen2.png');
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    width: 100%;
    // height: auto;
    height: 550px;
    padding-left: 60px;
  }
}

.home-page > h2{
  white-space: pre-line;
  @media screen and (max-width: $res-sm) {
    font-size:16px;
  }
}

.home-page > openlmis-home-alerts-panel {
  width: 100%;
}

.scroll {
  width: 100%;
  @include float(left);
  overflow-y: auto;
  max-height: 60vh;
  padding-bottom: 1em;
}
